/cmd/tkey-mgt/verifier.bin
/sign-tool
/testapp-probe
/tkey-mgt
.cache
compile_commands.json
dev-seed
testapp/*.o
testapp/app_a.bin
testapp/app_a.bin.sig
testapp/app_a.elf
testapp/app_b.bin
testapp/app_b.bin.sig
testapp/app_b.elf
verifier/*.o
verifier/app.bin
verifier/app.elf
test/lib/cmocka/src/cmocka.o
